.search-input {
  width: 80%;

  input {
    background: none;
    width: 100%;
    height: 28px;
    border: none;
    color: #eee;
    font-size: 14px;

    &:focus {
      outline: none;
    }
  }
}
