.home-header {
  margin-top: 0;
  border-bottom: none;
  font-family: 'nova mono';
  font-weight: 800;
  font-size: 48px;
  letter-spacing: -5px;
}

.link {
  box-shadow: none;
  text-decoration: none;
  color: inherit;
}
